@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-table{
    width: 100%;
    height: 100%;
}

.facture {
    width : 75%;
    margin-left: 15%;
    margin-top: 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: solid 2px black;
}

h2 {
    width: 100%;
    text-align: center;
    color: black;
}

table {
    height: auto;
    border-collapse: separate;
    border-spacing: 0 20px;
}

th{
    background-color: black;
    color: #fff;
    height: 2rem;
}


td{
    width: 10%;
    text-align: center;
    background-color: #fff;
    font-size: 20px;
}

.img_product{
    width: 260px;
    height: 225px;
    object-fit: contain;
}

.produit{
    width: 10%;
    text-align: center;
}

.quantite{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.totalprix{
    color: black;
}

.total{
    border: solid 2px black;
    text-align: center;
}

.total2{
    border: solid 2px black;
    text-align: center;
    color: red;
    height: 40px;
}

.total2:hover{
    text-decoration: underline;
}

input{
    border: none;
    text-align: center;
    font-size: 17px;
}

input:focus{
    outline: none;
}

.validation{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.envoyer{
    margin-left: 5%;
    width: 80px;
    height: 40px;
    background-color: #fff;
    color:#18b131;
    border: 2px solid #18b131;
    font-size: 18px;
    border-radius: 15%;
    cursor: pointer;
}

.annuler{
    width: 80px;
    height: 40px;
    border: 2px solid rgb(179, 0, 0);
    background-color: #fff;
    color: rgb(179, 0, 0);
    font-size:18px;
    border-radius: 15%;
    cursor: pointer;
    text-decoration: none;
    line-height: 40px;
    display: inline-block;
    text-align: center;
}

.envoyer:not([disabled]):hover{
    background-color:#18b131;
    border:none;
    color: #fff;
    transition: 0.5s;
}

.annuler:not([disabled]):hover{
    background-color:rgb(179, 0, 0);
    border:none;
    color: #fff;
    transition: 0.5s;
}

.message_info{
    color: #d10707;
    text-align: center;
    margin-top: 4%;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.livraison{
    padding-top: 75px;
    text-align: end;
}


select {
    font-size: 16px;
    width: 19em;
    height: 3em;
    font-family: Arial, sans-serif;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    appearance: none; /* Permet de masquer la flèche par défaut du navigateur */
    -webkit-appearance: none; /* Permet de masquer la flèche par défaut sur Safari et Chrome */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='6'><polygon points='0,0 10,0 5,6'/></svg>") !important; /* Ajoute une flèche personnalisée */
    background-repeat: no-repeat;
    background-position: right 8px center;
}

select:hover,
select:focus {
    outline: none;
    border-color: #555;
}

select option {
    font-size: 13px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}



/* MODAL BOX */
footer.active {
    display: none;
}

section.active .facture{
    display: none;
}

section.active .overlay {
    opacity: 1;
    pointer-events: auto;
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    opacity: 0;
}


.modal-box {
    position: absolute;
    font-family: "Poppins", sans-serif;
    z-index: 99;
    left: 50%;
    top: 73%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    background-color: #fff;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%,-50%) scale(1.2);
    align-items: center;
    width: 100%;
    border-radius: 25px;
    opacity: 0;
    padding: 25px;
}

section.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}

.modal-box .image-logo {
    display: flex;
    justify-content: space-between;
}

.modal-box .image-logo img{
    width: 15%;
}

.modal-box .container-modal{
    background-color: #017014;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.modal-box .container-modal .check-text h2 {
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    color: #fff;

}

.modal-box .container-modal .check-text h3 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #fff;

}

.modal-box .container-modal .loader{
    border: 4px solid #f3f3f3; /* Couleur de fond */
    border-top: 4px solid #3498db; /* Couleur du cercle */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Animation */
}

.modal-box .content-detail{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.modal-box .content-detail .title-detail{
    font-size: 25px;
    text-decoration: underline;
    color: #017014;
}

.modal-box .content-detail .concern-detail{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

.modal-box .content-detail .info-payment{
    margin-top: 10px;
}

.modal-box .content-detail .info-payment span{
    font-weight: bold;
}

.modal-box .content-detail form{
    margin-top: 10px;
    width: 100%;
}


.modal-box .content-detail form .info-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    margin-top: 10px;
}

.modal-box .content-detail form .info-card .input-container{

}

.modal-box .content-detail form .info-card .input-container label {
    position: relative;
    margin-bottom: 10px;
    color: #999;
    font-size: 13px;
}

.modal-box .content-detail form .info-card .input-container input {
    width: 130px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.modal-box .content-detail form .info-card .input-container input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px #3498db;
}

.modal-box .buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.modal-box .content-detail form .buttons input {
    padding: 6px 12px;
    margin: 0 10px;
    font-size: 17px;
    border: none;
    border-radius: 6px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    width: 100px;
    height: 40px;
}

.modal-box .content-detail form .buttons #close-btn{
    background-color: #d10707;
}

.modal-box .content-detail form .buttons #close-btn:hover{
    background-color: #fff;
    color: #d10707;
}

.modal-box .content-detail form .buttons #confirm{
    background-color: #017014;
}

.modal-box .content-detail form .buttons #confirm:hover{
    background-color: #fff;
    color: #017014;
}



@keyframes spin {
    0% { transform: rotate(0deg); } /* Début de l'animation */
    100% { transform: rotate(360deg); } /* Fin de l'animation */
}